<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>语文</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>LANGUAGE_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数学</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>MATH_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英语</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>ENGLISH_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>政治</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>POLITICS_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>历史</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>HISTORY_CLASS_CODE</string>
	</dict>
    <dict>
        <key>name</key>
        <string>地理</string>
        <key>click</key>
        <true/>
        <key>code</key>
        <string>GEOGRAPHY_CLASS_CODE</string>
    </dict>
	<dict>
		<key>name</key>
		<string>物理</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>PHYSICS_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>化学</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>CHEMISTRY_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>生物</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>BIOLOGY_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奥数</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>OLYMPIAD_CLASS_CODE</string>
	</dict>
	<dict>
		<key>name</key>
		<string>其他</string>
		<key>click</key>
		<true/>
		<key>code</key>
		<string>OTHER_CUSTOM_CODE</string>
	</dict>
</array>
</plist>
